/* header */
.header {
    background-size: 100% 100%;
    background-position: center;
    padding: 0 101px 0 99px;
    display: flex;
    align-items: center;
}

.icon {
    width: 50px;
    height: 50px;
    margin-right: 400px;
}

.intro_ver {
    align-items: center;

}

.top_h {
    margin-right: 80px;
    color: black;
}

.wc {
    color: black;
    margin-right: 80px;
}

.co {
    color: black;
}

/* intro */


.head_img {
    width: 1300px;
    height: 400px;
    align-items: center;
}

/* concept */
.concept_main {
    background-color: var(--white);
    padding: 100px 100px 47px 103px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    text-align: center;
    color: black;
    border-bottom: #9C65F5 solid 5px;
}

.con_con {
    display: flex;
    align-items: flex-start;
}

.con_text {
    margin-right: 15px;
    padding: 58px 0 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.con_text_title {
    max-width: 431px;
    color: var(--black);
    margin-bottom: 40px;
    margin-left: 98px;
    font-size: 24px;
    text-align: center;
}

.con_text_con {
    height: 152px;
    width: 682px;
    color: black;
    text-align: left;
}

.con_image {
    width: 500px;
    height: 300px;
}

/* content */
.contents_main {
    background-color: var(--white);
    padding: 53px 251px 65px 249px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contents_title {
    max-width: 177px;
    color: var(--dark-slate-gray);
    margin-bottom: 12px;
    text-align: center;
}

.contents_two {
    display: flex;
    align-items: flex-start;
}

.content {
    background-color: var(--white);
    padding: 0 0 16px;
    box-shadow: 0 4px 10px 4px var(--transparent-dark-gray);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content:not(:last-of-type) {
    margin-right: 300px;
}

.sample-wc {
    width: 400px;
    height: 245px;
}

.content_title {
    max-width: 252px;
    color: var(--black);
    margin-bottom: 1px;
}

.content_intro {
    height: 84px;
    width: 302px;
    color: var(--black);
    display: flex;
}

.sample-co {
    width: 400px;
    height: 249.5px;
    position: relative;
}

.content_title_sec {
    max-width: 288px;
    color: var(--black);
    position: absolute;
    right: 48px;
    bottom: -49.5px;
}

/* footer */
.footer {
    padding: 23px 1301px 23px 136px;
    position: relative;
}



.top_f {
    height: 47px;
    width: 88px;
    color: black;
    display: flex;
    position: absolute;
    left: 174px;
    top: 26px;
    margin-top: 300px;
}

/* result */
.intro {
    text-align: center;
    margin-top: 100px;
}

.intro_fir {
    margin-top: 50px;
}

.intro_sec {
    margin-top: 50px;
}

form {
    margin-top: 100px;
    text-align: center;
}

.send {
    margin-top: 50px;
}

.result {
    text-align: center;
    margin-top: 100px;
}

.sum_result {
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
}

.error {
    text-align: center;
    font-size: large;
    border-bottom: red solid 5px;
}