{% extends "layout.html" %}
{% block content %}
<main>

    <div class="intro">
        <img src="../static/images/header.png" alt="head_img" class="head_img">
    </div>

    <div class="concept_main">
        <h2>Concept</h2>
        <div class="con_con">
            <div class="con_text">
                <p class="con_text_title">文章の要点を「見える化」</p>
                <p class="con_text_con">長い文章を読むのを煩わしいと感じたことはありませんか？<br />
                    <br />
                    このサービスは、文書の要点のみを「パッと見」でわかるようにするというものです。<br />
                </p>
            </div>
            <div class="con_img">
                <img src="../static/images/text.png" alt="text_image" class="con_image">
            </div>
        </div>
    </div>

    <div class="contents_main">
        <h2>Contents</h2>
        <div class="contents_two">
            <div class="content">
                <a href="/result_cloud">
                    <img alt="wordcloud" class="sample-wc" src="../static/images/sample/samplewc.png" />
                    <a href="/result_cloud" class="content_title">ワードクラウド</a>
                    <p class="content_intro">
                        こちらは単語が出てきた数によって、単語の大きさが変わるというものです。
                    </p>
                </a>
            </div>

            <div class="content">
                <a href="/result_co">
                    <img alt="co_network" class="sample-co" src="../static/images/sample/sampleco.png" />
                    <a href="/result_co" class="content_title">共起ネットワーク</a>
                    <p class="content_intro">
                        こちらは出てきた単語の量とつながりが一目でわかるというものです。
                    </p>
                </a>
            </div>
        </div>
    </div>

</main>

{% endblock %}