{% extends "layout.html" %}
{% block content %}
<main>

    <div class="intro">
        <img src="../static/images/header.png" alt="head_img" class="head_img">
    </div>

    <div class="concept_main">
        <h2>Concept</h2>
        <div class="con_con">
            <div class="con_text">
                <p class="con_text_title">This product simplifies the document! </p>
                <p class="con_text_con">Reading long document is tedious, isn't it?<br />
                    長い文書を読むのは面倒ですよね？
                    <br />
                    This product can help you to easy to read and to understand the document.<br />
                    このアプリケーションは文書を読みやすく、理解しやすくします。
                    <br />
                </p>
            </div>
            <div class="con_img">
                <img src="../static/images/text.png" alt="text_image" class="con_image">
            </div>
        </div>
    </div>

    <div class="contents_main">
        <h2>Contents</h2>
        <div class="contents_two">
            <div class="content">
                <a href="/result_cloud">
                    <img alt="wordcloud" class="sample-wc" src="../static/images/sample/samplewc.png" />
                    <a href="/result_cloud" class="content_title">Word Cloud</a>
                    <p class="content_intro">
                        Word Cloud represents how frequently each word is used.<br /><br />
                        ワードクラウドは単語の頻出度を大きさで表します。
                    </p>
                </a>
            </div>

            <div class="content">
                <a href="/result_co">
                    <img alt="co_network" class="sample-co" src="../static/images/sample/sampleco.png" />
                    <a href="/result_co" class="content_title">Co-Network</a>
                    <p class="content_intro">
                        Co-network visualizes the connections between words.<br /><br />
                        共起ネットワークは単語と単語のつながりを可視化します。
                    </p>
                </a>
            </div>
        </div>
    </div>

</main>

{% endblock %}